<!DOCTYPE html>
<html lang="en" class="h-full antialiased" style="--header-position: sticky; --content-offset: 116px; --header-height: 180px; --header-mb: -116px;  --header-top: 0px;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
    <title>TODO</title>
</head>
<body className="flex h-full bg-zinc-50 dark:bg-black">
  {% include "_partials/header.njk" %}
  <main className="flex w-full">
    {{content | safe}}
  </main>
  {% include "_partials/footer.njk" %}
  <script src="/assets/js/theme.js" defer></script>
</body>
</html>
